@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.eot");
  src: local("☺"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.eot");
  src: local("☺"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.eot");
  src: local("☺"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.eot");
  src: local("☺"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

.adaptation__container {
  max-width: none;
  margin: 0 auto;
  padding: 0 8px;
}

.adaptation__wrapper {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
}

.adaptation__footer-container {
  max-width: none;
  padding: 0 8px;
  margin: 0 auto;
}

.adaptation__main {
  flex: 1 1 auto;
  background-color: #f4f5f8;
}

.adaptation__main-section-content {
  padding-top: 16px;
  padding-left: 0;
  color: #1f3553;
  width: 100%;
}

.adaptation__header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  color: #1f3553;
}
.adaptation__header-content .header-content__logo {
  z-index: 10;
  min-width: 100px;
  height: 30px;
}
.adaptation__header-content .header-content__logo::after {
  content: "";
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 265px;
  width: 1px;
  background-color: #e6e1ea;
}
.adaptation__header-content .header-content__logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.adaptation__header-content .header-content__menu {
  box-shadow: 0 0 0 10000px #fff;
  display: block;
  position: absolute;
  right: 0;
  z-index: -1;
  left: -1000px;
  top: -1500px;
  padding-bottom: 36px;
}
.adaptation__header-content .header-content__menu .menu__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  position: relative;
  padding-bottom: 48px;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list {
  display: flex;
  margin-right: 131px;
  margin-left: auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-size: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 0;
  border-top: 1px solid #e5e8fb;
  border-bottom: 1px solid #e5e8fb;
  padding-top: 24px;
  margin-bottom: 24px;
  width: 100%;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li {
  margin-bottom: 16px;
  width: 100%;
  padding-left: 8px;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li a {
  font-size: 16px;
  transition: color 0.3s;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li a:hover {
  color: #2f87ff;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin-right: 0;
  border-top: 1px solid #e5e8fb;
  border-bottom: 1px solid #e5e8fb;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization a {
  transition: color 0.3s;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization a:hover {
  color: #2f87ff;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__mail {
  display: block;
  min-width: 29px;
  height: 20px;
  margin-right: 120px;
  margin-top: 19px;
  margin-bottom: 19px;
  position: relative;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__mail::after {
  content: "Сообщения";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1f3553;
  font-weight: 500;
  position: absolute;
  left: 40px;
  top: 0;
  display: inline-block;
  font-size: 14px;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__mail img {
  display: block;
  width: 100%;
  height: 100%;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__logout-btn {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50;
  margin-top: 10px;
  padding: 8px 0 8px;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  width: 114px;
  height: 35px;
  background-color: #edf5ff;
  color: #2f87ff;
  transition: background-color 0.3s;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__logout-btn:hover {
  background-color: rgba(237, 245, 255, 0.8);
}
.adaptation__header-content .header-content__user {
  position: absolute;
  z-index: 10;
  right: 104px;
}
.adaptation__header-content .header-content__user a {
  display: flex;
  align-items: center;
}
.adaptation__header-content .header-content__user a .user__avatar {
  width: 26px;
  height: 26px;
  position: relative;
}
.adaptation__header-content .header-content__user a .user__avatar img {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.adaptation__header-content .header-content__user a .user__avatar::after {
  content: "";
  display: block;
  width: 18px;
  height: 100%;
  background-image: url("/images/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 7px;
  top: 0;
  left: 100%;
  position: absolute;
  padding-left: 6px;
}

#menu-toggler {
  display: none;
}

#menu-toggler:checked + .hamburger span {
  transition: all 0.3s;
  transform: rotate(45deg);
  top: 8px;
}

#menu-toggler:checked + .hamburger span::after {
  transition: all 0.3s;
  transform: rotate(-90deg);
  top: 0;
}

#menu-toggler:checked + .hamburger span::before {
  opacity: 0;
}

.hamburger {
  display: block;
  right: 0;
  width: 24px;
  height: 16px;
  position: absolute;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 22;
  display: block;
  background-color: #1f3553;
  width: 24px;
  height: 1px;
  border-radius: 10px;
}

.hamburger span::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 1px;
  top: 8px;
  background-color: #1f3553;
  border-radius: 10px;
}

.hamburger span::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 1px;
  top: 16px;
  background-color: #1f3553;
  border-radius: 10px;
}

#menu-toggler:checked ~ .header-content__menu {
  top: 48px;
  left: 0;
  z-index: 1;
  background-color: #fff;
  transition: left 0.3s, background-color 0.3s;
}
#menu-toggler:checked ~ .header-content__menu .menu__navigation .navigation__logout-btn {
  display: block;
}

.adaptation__sidebar {
  display: none;
}

.adaptation__sidebar-header {
  border-top: 1px solid #e5e8fb;
  width: 100%;
  display: block;
  height: 100%;
  background-color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #1f3553;
  padding-left: 8px;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px 0px 0px 4px;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link .sidebar__link-img {
  width: 24px;
  height: 24px;
  margin-right: 17px;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link .sidebar__link-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link:hover {
  background-color: #edf5ff;
  padding-left: 11px;
  transition: padding 0.5s, background-color 0.5s, after 3s;
  font-weight: 700;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link:hover::after {
  content: "";
  display: block;
  width: 6px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2f87ff;
  border-radius: 10px 0 0 6px;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link_active {
  background-color: #edf5ff;
  padding-left: 11px;
  font-weight: 700;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link_active::after {
  content: "";
  display: block;
  width: 6px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2f87ff;
  border-radius: 10px 0 0 6px;
}
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu {
  margin: 18px 0 25px 47px;
  color: #000;
  font-size: 16px;
}
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu li {
  margin-bottom: 8px;
}
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu li:last-child {
  margin-bottom: 0;
}
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu .link-submenu_acvive {
  color: #1f3553;
  font-weight: 700;
}
.adaptation__sidebar-header .sidebar__links span {
  font-weight: 700;
  color: #2f87ff;
  margin-left: 5px;
}

.adaptation__footer {
  background-color: #1f3553;
  color: #fff;
}
.adaptation__footer .footer__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 30px;
}
.adaptation__footer .footer__columns .footer__info {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
.adaptation__footer .footer__columns .footer__info .footer__links {
  column-count: 3;
  column-gap: 90px;
  column-width: 174px;
}
.adaptation__footer .footer__columns .footer__info .footer__links .footer__link {
  display: block;
  margin-bottom: 10px;
  max-width: 174px;
  text-align: left;
}
.adaptation__footer .footer__columns .footer__info .footer__cop {
  margin-top: 14px;
}
.adaptation__footer .footer__columns .footer__subs {
  max-width: 451px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
.adaptation__footer .footer__columns .footer__subs .subs__title {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 20px;
  font-size: 16px;
}
.adaptation__footer .footer__columns .footer__subs .subs__form {
  display: flex;
}
.adaptation__footer .footer__columns .footer__subs .subs__form input {
  width: 100%;
  height: 50px;
  padding-left: 24px;
  background-color: #f2f2f2;
  color: #828282;
  font-size: 14px;
  outline: none;
  border-radius: 3px 0px 0px 3px;
}
.adaptation__footer .footer__columns .footer__subs .subs__form button {
  width: 62px;
  height: 50px;
  cursor: pointer;
  background-color: #2f87ff;
  background-image: url("../images/icons/subscribe.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 3px 3px 0px;
}

.adaptation__instruction-content .instruction-content__title {
  font-size: 20px;
  font-weight: 700;
}
.adaptation__instruction-content .instruction-content__instruction {
  margin-top: 16px;
  background-color: #fff;
  border-radius: 10px;
  padding: 16px;
  max-width: none;
  height: 85%;
}
.adaptation__instruction-content .instruction-content__instruction .instruction__block {
  margin-bottom: 32px;
  max-width: none;
}
.adaptation__instruction-content .instruction-content__instruction .instruction__block:last-child {
  margin-bottom: 16px;
}
.adaptation__instruction-content .instruction-content__instruction .instruction__block .instruction__block-title {
  font-weight: 700;
  font-size: 16px;
}
.adaptation__instruction-content .instruction-content__instruction .instruction__block .instruction__block-text {
  font-weight: 500;
  font-size: 14px;
  color: #333;
  margin-top: 15px;
  line-height: 180%;
}
.adaptation__instruction-content .instruction-content__instruction .instruction__block-wish {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 25px;
}
.adaptation__instruction-content .instruction-content__instruction .instruction__block-btn {
  display: flex;
  max-width: 315px;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #edf5ff;
  background-color: #2f87ff;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 80px;
  transition: background-color 0.3s;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.adaptation__instruction-content .instruction-content__instruction .instruction__block-btn:hover {
  background-color: rgba(47, 135, 255, 0.8);
}
