@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.eot");
  src: local("☺"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.eot");
  src: local("☺"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.eot");
  src: local("☺"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.eot");
  src: local("☺"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

.adaptation__container {
  max-width: 1858px;
  margin: 0 auto;
  padding: 0 8px;
}

.adaptation__wrapper {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
}

.adaptation__footer-container {
  max-width: 1186px;
  padding: 0 8px;
  margin: 0 auto;
}

.adaptation__main {
  flex: 1 1 auto;
  background-color: #f4f5f8;
}

.adaptation__main-section-content {
  padding-top: 60px;
  padding-left: 80px;
  color: #1f3553;
  width: 100%;
}

.adaptation__header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #1f3553;
}
.adaptation__header-content .header-content__logo {
  z-index: 10;
  min-width: 147px;
  height: 45px;
}
.adaptation__header-content .header-content__logo::after {
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 288px;
  width: 1px;
  background-color: #e6e1ea;
}
.adaptation__header-content .header-content__logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.adaptation__header-content .header-content__menu .menu__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list {
  display: flex;
  margin-right: 131px;
  margin-left: auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li {
  margin-right: 40px;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li:last-child {
  margin-right: 0;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li a {
  transition: color 0.3s;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li a:hover {
  color: #2f87ff;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block {
  display: flex;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin-right: 40px;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization a {
  transition: color 0.3s;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization a:hover {
  color: #2f87ff;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__mail {
  display: block;
  min-width: 29px;
  height: 20px;
  margin-right: 127px;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__mail img {
  display: block;
  width: 100%;
  height: 100%;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__logout-btn {
  font-size: 16px;
  display: inline-block;
  padding: 8px 0 8px;
  text-align: center;
  border-radius: 4px;
  font-weight: 500;
  width: 114px;
  height: 35px;
  background-color: #edf5ff;
  color: #2f87ff;
  transition: background-color 0.3s;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__logout-btn:hover {
  background-color: rgba(237, 245, 255, 0.8);
}
.adaptation__header-content .header-content__user {
  position: absolute;
  right: 173px;
  z-index: 10;
}
.adaptation__header-content .header-content__user a {
  display: flex;
  align-items: center;
}
.adaptation__header-content .header-content__user a .user__avatar {
  width: 34px;
  height: 34px;
  position: relative;
}
.adaptation__header-content .header-content__user a .user__avatar img {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.adaptation__header-content .header-content__user a .user__avatar::after {
  content: "";
  display: block;
  width: 18px;
  height: 100%;
  background-image: url("/images/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 7px;
  top: 0;
  left: 100%;
  position: absolute;
  padding-left: 6px;
}

#menu-toggler {
  display: none;
}

#menu-toggler:checked + .hamburger span {
  transition: all 0.3s;
  transform: rotate(45deg);
  top: 8px;
}

#menu-toggler:checked + .hamburger span::after {
  transition: all 0.3s;
  transform: rotate(-90deg);
  top: 0;
}

#menu-toggler:checked + .hamburger span::before {
  opacity: 0;
}

.hamburger {
  display: none;
  width: 24px;
  height: 16px;
  position: absolute;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 22;
  display: block;
  background-color: #1f3553;
  width: 24px;
  height: 1px;
  border-radius: 10px;
}

.hamburger span::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 1px;
  top: 8px;
  background-color: #1f3553;
  border-radius: 10px;
}

.hamburger span::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 1px;
  top: 16px;
  background-color: #1f3553;
  border-radius: 10px;
}

.adaptation__sidebar,
.adaptation__sidebar-header {
  display: block;
  height: 100%;
  background-color: #fff;
  padding-top: 80px;
  min-width: 289px;
  color: #1f3553;
  border-right: 1px solid #e6e1ea;
  padding-left: 8px;
}
.adaptation__sidebar .sidebar__links .sidebar__link,
.adaptation__sidebar-header .sidebar__links .sidebar__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px 0;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px 0px 0px 4px;
}
.adaptation__sidebar .sidebar__links .sidebar__link .sidebar__link-img,
.adaptation__sidebar-header .sidebar__links .sidebar__link .sidebar__link-img {
  width: 24px;
  height: 24px;
  margin-right: 17px;
}
.adaptation__sidebar .sidebar__links .sidebar__link .sidebar__link-img img,
.adaptation__sidebar-header .sidebar__links .sidebar__link .sidebar__link-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.adaptation__sidebar .sidebar__links .sidebar__link:hover,
.adaptation__sidebar-header .sidebar__links .sidebar__link:hover {
  background-color: #edf5ff;
  padding-left: 11px;
  transition: padding 0.5s, background-color 0.5s, after 3s;
  font-weight: 700;
}
.adaptation__sidebar .sidebar__links .sidebar__link:hover::after,
.adaptation__sidebar-header .sidebar__links .sidebar__link:hover::after {
  content: "";
  display: block;
  width: 6px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2f87ff;
  border-radius: 10px 0 0 6px;
}
.adaptation__sidebar .sidebar__links .sidebar__link_active,
.adaptation__sidebar-header .sidebar__links .sidebar__link_active {
  background-color: #edf5ff;
  padding-left: 11px;
  font-weight: 700;
}
.adaptation__sidebar .sidebar__links .sidebar__link_active::after,
.adaptation__sidebar-header .sidebar__links .sidebar__link_active::after {
  content: "";
  display: block;
  width: 6px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2f87ff;
  border-radius: 10px 0 0 6px;
}
.adaptation__sidebar .sidebar__links li .sidebar__link-submenu,
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu {
  margin: 18px 0 25px 47px;
  color: #000;
  font-size: 16px;
}
.adaptation__sidebar .sidebar__links li .sidebar__link-submenu li,
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu li {
  margin-bottom: 8px;
}
.adaptation__sidebar .sidebar__links li .sidebar__link-submenu li:last-child,
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu li:last-child {
  margin-bottom: 0;
}
.adaptation__sidebar .sidebar__links li .sidebar__link-submenu .link-submenu_acvive,
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu .link-submenu_acvive {
  color: #1f3553;
  font-weight: 700;
}
.adaptation__sidebar .sidebar__links span,
.adaptation__sidebar-header .sidebar__links span {
  font-weight: 700;
  color: #2f87ff;
  margin-left: 5px;
}

.adaptation__sidebar-header {
  border-right: none;
  border-top: 1px solid #e5e8fb;
  width: 100%;
  padding-bottom: 25px;
  padding-top: 0;
  display: none;
}

.adaptation__footer {
  background-color: #1f3553;
  color: #fff;
}
.adaptation__footer .footer__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 30px;
}
.adaptation__footer .footer__columns .footer__info {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
.adaptation__footer .footer__columns .footer__info .footer__links {
  column-count: 3;
  column-gap: 90px;
  column-width: 174px;
}
.adaptation__footer .footer__columns .footer__info .footer__links .footer__link {
  display: block;
  margin-bottom: 10px;
  max-width: 174px;
  text-align: left;
}
.adaptation__footer .footer__columns .footer__info .footer__cop {
  margin-top: 14px;
}
.adaptation__footer .footer__columns .footer__subs {
  max-width: 451px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
.adaptation__footer .footer__columns .footer__subs .subs__title {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 20px;
  font-size: 16px;
}
.adaptation__footer .footer__columns .footer__subs .subs__form {
  display: flex;
}
.adaptation__footer .footer__columns .footer__subs .subs__form input {
  width: 100%;
  height: 50px;
  padding-left: 24px;
  background-color: #f2f2f2;
  color: #828282;
  font-size: 14px;
  outline: none;
  border-radius: 3px 0px 0px 3px;
}
.adaptation__footer .footer__columns .footer__subs .subs__form button {
  width: 62px;
  height: 50px;
  cursor: pointer;
  background-color: #2f87ff;
  background-image: url("../images/icons/subscribe.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 3px 3px 0px;
}

.adaptation__welcome-book-edit .welcome-book-edit__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content {
  background-color: #fff;
  max-width: 947px;
  border-radius: 10px;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  min-height: 85%;
  padding-right: 8px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__title {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__save-btn {
  display: block;
  text-align: center;
  padding: 17px;
  background-color: #edf5ff;
  color: #2f87ff;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  width: 180px;
  cursor: pointer;
  border-radius: 4px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__save-btn:active {
  background-color: rgba(237, 245, 255, 0.8);
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block {
  margin-bottom: 40px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__subtitle {
  font-weight: 500;
  color: #333;
  font-size: 14px;
  margin-bottom: 20px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__video {
  max-width: 660px;
  max-height: 299px;
  margin-bottom: 20px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__video video {
  width: 100%;
  max-height: 299px;
  object-fit: contain;
  border-radius: 10px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__input-text {
  max-width: 523px;
  width: 100%;
  display: block;
  height: 50px;
  background-color: #f8f8f8;
  padding-left: 20px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__links a {
  color: #2f87ff;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__drag-container {
  max-width: 523px;
  padding: 26px 33px;
  margin-bottom: 20px;
  background-color: #edf5ff;
  border: 1px dashed #2f87ff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__drag-container .drag-container__img {
  padding: 34px 28px;
  background: #fff;
  border-radius: 4px;
  margin-right: 13px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__drag-container .drag-container__img img {
  display: block;
  width: 40px;
  height: 30px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__drag-container .drag-container__desc {
  font-size: 14px;
  font-weight: 700;
  max-width: 300px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__add-btn {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__add-btn img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.adaptation__welcome-book-edit .welcome-book-edit__content .content__block .block__add-btn .block__input-submit {
  background-color: #fff;
  color: #1f3553;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
