html {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

.adaptation__container {
  max-width: 1858px;
  margin: 0 auto;
  padding: 0 8px;
}

.adaptation__wrapper {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
}

.adaptation__footer-container {
  max-width: 1186px;
  padding: 0 8px;
  margin: 0 auto;
}

.adaptation__main {
  flex: 1 1 auto;
  background-color: $lightgrey;
}

.adaptation__main-section-content {
  padding-top: 60px;
  padding-left: 80px;
  color: $primary-color;
  width: 100%;
}
