@import "reset";
@import "vars";
@import "global";
@import "blocks/adaptation-header";
@import "blocks/adaptation-sidebar";
@import "blocks/adaptation-footer";

.adaptation__welcome-book-create {
  .welcome-book-create__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .welcome-book-create__content {
    background-color: #fff;
    max-width: 817px;
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 50px;
    min-height: 90%;
    padding-right: 8px;

    .content__title {
      font-size: 14px;
      font-weight: 500;
      color: $dark;
      margin-bottom: 10px;
    }

    .content__block {
      margin-bottom: 40px;
      .block__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      .block__subtitle {
        font-weight: 500;
        color: $dark;
        font-size: 14px;
        margin-bottom: 20px;
      }

      .block__input-text {
        max-width: 523px;
        width: 100%;
        display: block;
        height: 50px;
        background-color: #f8f8f8;
        padding-left: 20px;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 15px;
      }

      .block__links {
        display: flex;
        flex-direction: column;
        a {
          color: $blue;
          font-size: 14px;
          font-weight: 700;
          padding-bottom: 10px;
        }
      }

      .block__drag-container {
        max-width: 523px;
        padding: 26px 33px;
        margin-bottom: 20px;
        background-color: $lightblue;
        border: 1px dashed $blue;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .drag-container__img {
          padding: 34px 28px;
          background: #fff;
          border-radius: 4px;
          margin-right: 13px;
          img {
            display: block;
            width: 40px;
            height: 30px;
          }
        }

        .drag-container__desc {
          font-size: 14px;
          font-weight: 700;
          max-width: 300px;
        }
      }

      .block__add-btn {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        img {
          width: 16px;
          height: 16px;
          margin-right: 8px;
        }

        .block__input-submit {
          background-color: #fff;
          color: $primary-color;
          font-size: 18px;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
