@import "reset";
@import "vars";
@import "global-mob";
@import "blocks/adaptation-header-mob";
@import "blocks/adaptation-sidebar-mob.scss";
@import "blocks/adaptation-footer";

@import "blocks/popup.scss";

.adaptation__mentors {
  .mentors__title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
  }

  .mentors__info-panel {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 29px;
    max-width: none;

    .info-panel__mentors-count {
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap;
      margin-right: auto;
      margin-left: 0;
      margin-bottom: 0;
    }

    .info-panel__inputs {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      max-width: none;
      .inputs__add-mentor-btn {
        display: block;
        text-align: center;
        white-space: nowrap;
        color: $blue;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        padding: 16px;
        width: 100%;
        border: 1px solid $blue;
        border-radius: 3px;
        letter-spacing: 0.1em;
        margin-bottom: 16px;
        margin-right: 0;
        transition: background-color 0.3s;
        &:hover {
          background-color: rgba($color: #fff, $alpha: 0.8);
        }
      }
      .inputs__search-mentors-field {
        background-color: #fff;
        margin-bottom: 16px;
        padding-right: 30px;
        border-radius: 3px;
        height: 50px;

        letter-spacing: 0.1em;
        font-size: 14px;
        font-weight: 600;
        padding-left: 19px;
        color: $dark;
        width: 100%;
        max-width: none;

        display: block;
        background-image: url("../images/icons/search.svg");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 14px);
        background-position-y: center;
        background-size: 20px 20px;
        &::-webkit-search-cancel-button {
          display: none;
        }
      }
    }
  }

  .mentors__mentors-list {
    display: block;
    max-width: none;
    .mentors-list__mentor {
      background-color: #fff;
      border-radius: 10px;
      padding: 16px;
      margin-bottom: 16px;
      margin-right: 0;
      max-width: none;

      .mentor__photo {
        width: 110px;
        height: 110px;
        margin: 0 auto 10px;
        img {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .mentor__fio {
        font-size: 16px;
        font-weight: 700;
        margin: 0 auto 16px;
        text-align: center;
        max-width: 125px;
      }

      .mentor__jobtitle {
        font-size: 14px;
        font-weight: 500;
        color: $dark;
        line-height: 150%;
        text-align: center;
        max-width: 265px;
        margin: 0 auto 4px;
      }

      .mentor__birthday {
        font-size: 14px;
        font-weight: 500;
        color: $dark;
        line-height: 180%;
        text-align: center;
        margin-bottom: 2px;
      }

      .mentor__email {
        display: block;
        color: $blue;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin: 0 auto 15px;
      }

      .mentor__social-links {
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
        .mentor__social-link {
          margin-right: 16px;
          img {
            display: block;
            width: 33px;
            height: 33px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }

      .mentor__inputs {
        display: flex;
        flex-direction: column;

        .mentor__add-student-btn {
          color: #fff;
          background-color: $blue;
          padding: 16px 0;
          text-transform: uppercase;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 16px;
          letter-spacing: 0.1em;
          cursor: pointer;
          display: block;
          text-align: center;
          transition: background-color 0.3s;
          &:hover {
            background-color: rgba($color: $blue, $alpha: 0.8);
          }
        }

        .mentor__delete-from-team-btn {
          display: block;
          text-align: center;
          color: $blue;
          background-color: #fff;
          padding: 16px 0;
          text-transform: uppercase;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.1em;
          border: 1px solid $blue;
          cursor: pointer;
          transition: background-color 0.3s;
          &:hover {
            background-color: rgba($color: $lightblue, $alpha: 1);
          }
        }
      }
    }
  }

  //форма удаления ментора

  .mentors__delete-mentor-form {
    background-color: #fff;
    max-width: 594px;
    padding: 15px 23px 32px;
    border-radius: 10px;
    box-shadow: 0px 50px 50px -40px rgba(31, 53, 83, 0.5);

    .delete-mentor-form__close-form-btn {
      background-image: url("../images/icons/closeform.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px 12px;
      width: 12px;
      height: 12px;
      background-color: #fff;
      display: block;
      margin-left: auto;
      cursor: pointer;
      margin-right: -5px;
    }

    .delete-mentor-form__title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 23px;
    }

    .delete-mentor-form__subtitle {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .delete-mentor-form__comment {
      width: 100%;
      resize: none;
      height: 100px;
      background: #f8f8f8;
      border-radius: 3px;
      color: $dark;
      padding: 16px 16px 16px 20px;
      margin-bottom: 24px;
      font-size: 14px;
    }

    .delete-mentor-form__inputs {
      display: flex;
      .inputs__cancel-btn {
        width: 100%;
        font-size: 14px;
        background: #f4f5f8;
        border-radius: 3px;
        color: $blue;
        text-transform: uppercase;
        padding: 17px;
        cursor: pointer;
        margin-right: 16px;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-align: center;
        &:hover {
          background-color: rgba($color: #f4f5f8, $alpha: 0.8);
        }
      }
      .inputs__delete-btn {
        width: 100%;
        font-size: 14px;
        background: #eb5757;
        border-radius: 3px;
        color: #fff;
        text-transform: uppercase;
        padding: 17px;
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 0.1em;
        &:hover {
          background-color: rgba($color: #eb5757, $alpha: 0.8);
        }
      }
    }
  }

  // форма добавления учеников
  .mentors__add-students-form {
    padding: 16px;
    background: #fff;
    box-shadow: 0px 50px 50px -40px rgba(31, 53, 83, 0.5);
    border-radius: 10px;
    max-width: none;

    .add-students-form__close-form-btn {
      background-image: url("../images/icons/closeform.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px 12px;
      width: 12px;
      height: 12px;
      background-color: #fff;
      display: block;
      right: 0;
      margin-left: auto;
      cursor: pointer;
    }

    .add-students-form__title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 21px;
    }

    .add-students-form__inputs {
      // margin-bottom: 24px;
      margin-bottom: 90px;

      position: relative;
      .inputs__elem {
        height: 50px;
      }

      .inputs__search-student-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        .search-field {
          letter-spacing: 0.1em;
          font-size: 14px;
          font-weight: 600;
          padding-left: 18px;
          padding-right: 30px;
          color: $dark;
          height: 100%;
          background-color: #f8f8f8;
          max-width: none;

          border-radius: 3px;

          background-image: url("../images/icons/search.svg");
          background-repeat: no-repeat;
          background-position-x: calc(100% - 16px);
          background-position-y: center;
          background-size: 20px 20px;
          &::-webkit-search-cancel-button {
            display: none;
          }
        }

        .inputs__search-student-btn {
          // display: block;
          width: 100%;
          letter-spacing: 0.1em;
          color: #fff;
          background-color: $blue;

          border-radius: 3px;
          padding: 16px 0;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          cursor: pointer;
          position: absolute;
          bottom: 0;
          left: 0;
          margin-bottom: -46px;
          &:hover {
            background-color: rgba($color: $blue, $alpha: 0.8);
          }
        }
      }

      .inputs__selects-row {
        display: flex;
        flex-direction: column;
        .inputs__select-subdivision {
          background: #f8f8f8;
          border-radius: 3px;
          outline: none;
          border: none;
          letter-spacing: 0.1em;
          padding-left: 18px;
          padding-right: 21px;
          font-size: 14px;
          letter-spacing: 0.1em;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 16px;
          max-width: none;

          background-image: url("../images/icons/arrow-select.svg");
          background-repeat: no-repeat;
          background-position-x: calc(100% - 16px);
          background-position-y: center;
          background-size: 15px 7px;
          appearance: none;
        }

        .inputs__select-jobtitle {
          background: #f8f8f8;
          border-radius: 3px;
          outline: none;
          border: none;
          letter-spacing: 0.1em;
          padding-left: 18px;
          font-size: 14px;
          letter-spacing: 0.1em;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 16px;
          max-width: none;

          background-image: url("../images/icons/arrow-select.svg");
          background-repeat: no-repeat;
          background-position-x: calc(100% - 16px);
          background-position-y: center;
          background-size: 15px 7px;
          appearance: none;
        }
      }

      .inputs__select-mentor {
        width: 100%;
        margin-bottom: 16px;
        max-width: none;

        background: #f8f8f8;
        border-radius: 3px;
        outline: none;
        border: none;
        letter-spacing: 0.1em;
        padding-left: 18px;
        font-size: 14px;
        letter-spacing: 0.1em;
        font-weight: 600;
        text-transform: uppercase;

        background-image: url("../images/icons/arrow-select.svg");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 16px);
        background-position-y: center;
        background-size: 15px 7px;
        appearance: none;
      }
    }

    .add-students-form__students-container {
      .students-container__selected-panel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 12px;

        .selected-container__select-all-checkbox {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          .custom-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
          }

          .custom-checkbox + label {
            display: inline-flex;
            align-items: center;
            user-select: none;
          }

          .custom-checkbox + label::before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid $blue;
            margin-right: 16px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
          }

          .custom-checkbox:checked + label::before {
            border-color: #0b76ef;
            background-color: #fff;
            background-image: url("../images/icons/checkbox.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 16px 16px;
          }

          .select-all {
            font-size: 14px;
            font-weight: 600;
            color: $blue;
            cursor: pointer;
          }
          .clear-all {
            font-size: 14px;
            font-weight: 600;
            color: #86909e;
            margin-left: 33px;
            cursor: pointer;
          }
        }

        .selected-panel__appoint-off-btn {
          background-color: #fff;
          cursor: pointer;
          font-size: 14px;
          color: #eb5757;
          font-weight: 600;
          margin-bottom: 20px;
        }
      }

      .students-container__students-table {
        table {
          border-collapse: collapse;
          width: 100%;
          table-layout: fixed;
          .thead {
            display: none;
            margin-bottom: 40px;
            background-color: #f8f8f8;
            height: 50px;
            margin-bottom: 39px;
            .thead-tr-th {
              font-size: 14px;
              font-weight: 700;

              cursor: pointer;

              &:nth-child(1) {
                width: 330px;
                border-radius: 10px 0 0 10px;
              }
              &:nth-child(2) {
                width: 255px;
                padding-left: 10px;
                text-align: left;
              }
              &:nth-child(3) {
                width: 195px;
                padding-left: 10px;
                text-align: left;
              }
              &:last-child {
                border-radius: 0 10px 10px 0;
              }
            }
          }

          .tbody {
            .tbody-tr {
              .tbody-tr-td {
                font-size: 14px;
                font-weight: 600;
                text-align: left;
                padding-bottom: 16px;

                display: flex;
                flex-direction: column;
                width: 100%;

                color: #86909e;
                span {
                  color: $primary-color;
                }

                .custom-checkbox {
                  position: absolute;
                  z-index: -1;
                  opacity: 0;
                }

                .custom-checkbox + label {
                  display: inline-flex;
                  align-items: center;
                  user-select: none;
                }

                .custom-checkbox + label::before {
                  content: "";
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  flex-shrink: 0;
                  flex-grow: 0;
                  border: 1px solid $blue;
                  margin-right: 20px;
                  background-repeat: no-repeat;
                  background-position: center center;
                }

                .custom-checkbox:checked + label::before {
                  border-color: #0b76ef;
                  background-color: #fff;
                  background-image: url("../images/icons/checkbox.svg");
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: 16px 16px;
                }

                label {
                  display: inline-flex;
                  align-items: center;
                  cursor: pointer;

                  img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: block;
                    margin-right: 24px;
                  }
                  span {
                    max-width: 140px;
                    font-size: 14px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }

    .add-students-form__save-btn {
      height: 50px;
      color: #fff;
      background-color: $blue;
      border-radius: 3px;
      width: 100%;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.1em;
      margin-top: 39px;
      cursor: pointer;
      &:hover {
        background-color: rgba($color: $blue, $alpha: 0.8);
      }
    }
  }

  //форма добавления ментора
  .mentors__add-mentor-form {
    padding: 16px;
    background: #fff;
    box-shadow: 0px 50px 50px -40px rgba(31, 53, 83, 0.5);
    border-radius: 10px;
    max-width: none;

    .add-mentor-form__close-form-btn {
      background-image: url("../images/icons/closeform.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px 12px;
      width: 12px;
      height: 12px;
      background-color: #fff;
      display: block;
      right: 0;
      margin-left: auto;
      cursor: pointer;
    }

    .add-mentor-form__title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 21px;
    }

    .add-mentor-form__inputs {
      // margin-bottom: 24px;
      margin-bottom: 90px;

      position: relative;
      .inputs__elem {
        height: 50px;
      }

      .inputs__search-mentor-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        .search-field {
          letter-spacing: 0.1em;
          font-size: 14px;
          font-weight: 600;
          padding-left: 18px;
          padding-right: 30px;
          color: $dark;
          height: 100%;
          background-color: #f8f8f8;
          max-width: none;

          border-radius: 3px;

          background-image: url("../images/icons/search.svg");
          background-repeat: no-repeat;
          background-position-x: calc(100% - 16px);
          background-position-y: center;
          background-size: 20px 20px;
          &::-webkit-search-cancel-button {
            display: none;
          }
        }

        .inputs__search-mentor-btn {
          // display: block;
          width: 100%;
          letter-spacing: 0.1em;
          color: #fff;
          background-color: $blue;

          border-radius: 3px;
          padding: 16px 0;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          cursor: pointer;
          position: absolute;
          bottom: 0;
          left: 0;
          margin-bottom: -46px;
          &:hover {
            background-color: rgba($color: $blue, $alpha: 0.8);
          }
        }
      }

      .inputs__selects-row {
        display: flex;
        flex-direction: column;
        .inputs__select-subdivision {
          background: #f8f8f8;
          border-radius: 3px;
          outline: none;
          border: none;
          letter-spacing: 0.1em;
          padding-left: 18px;
          padding-right: 21px;
          font-size: 14px;
          letter-spacing: 0.1em;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 16px;
          max-width: none;

          background-image: url("../images/icons/arrow-select.svg");
          background-repeat: no-repeat;
          background-position-x: calc(100% - 16px);
          background-position-y: center;
          background-size: 15px 7px;
          appearance: none;
        }

        .inputs__select-jobtitle {
          background: #f8f8f8;
          border-radius: 3px;
          outline: none;
          border: none;
          letter-spacing: 0.1em;
          padding-left: 18px;
          font-size: 14px;
          letter-spacing: 0.1em;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 16px;
          max-width: none;

          background-image: url("../images/icons/arrow-select.svg");
          background-repeat: no-repeat;
          background-position-x: calc(100% - 16px);
          background-position-y: center;
          background-size: 15px 7px;
          appearance: none;
        }
      }
    }

    .add-mentor-form__mentorform-container {
      .mentorform-container__selected-panel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 12px;

        .selected-container__select-all-checkbox {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          .custom-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
          }

          .custom-checkbox + label {
            display: inline-flex;
            align-items: center;
            user-select: none;
          }

          .custom-checkbox + label::before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid $blue;
            margin-right: 16px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
          }

          .custom-checkbox:checked + label::before {
            border-color: #0b76ef;
            background-color: #fff;
            background-image: url("../images/icons/checkbox.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 16px 16px;
          }

          .select-all {
            font-size: 14px;
            font-weight: 600;
            color: $blue;
            cursor: pointer;
          }
          .clear-all {
            font-size: 14px;
            font-weight: 600;
            color: #86909e;
            margin-left: 33px;
            cursor: pointer;
          }
        }

        .selected-panel__appoint-off-btn {
          background-color: #fff;
          cursor: pointer;
          font-size: 14px;
          color: #eb5757;
          font-weight: 600;
          margin-bottom: 20px;
        }
      }

      .mentorform-container__students-table {
        table {
          border-collapse: collapse;
          width: 100%;
          table-layout: fixed;
          .thead {
            display: none;
            margin-bottom: 40px;
            background-color: #f8f8f8;
            height: 50px;
            margin-bottom: 39px;
            .thead-tr-th {
              font-size: 14px;
              font-weight: 700;

              cursor: pointer;

              &:nth-child(1) {
                width: 330px;
                border-radius: 10px 0 0 10px;
              }
              &:nth-child(2) {
                width: 255px;
                padding-left: 10px;
                text-align: left;
              }
              &:nth-child(3) {
                width: 195px;
                padding-left: 10px;
                text-align: left;
              }
              &:last-child {
                border-radius: 0 10px 10px 0;
              }
            }
          }

          .tbody {
            .tbody-tr {
              .tbody-tr-td {
                font-size: 14px;
                font-weight: 600;
                text-align: left;
                padding-bottom: 16px;

                display: flex;
                flex-direction: column;
                width: 100%;

                color: #86909e;
                span {
                  color: $primary-color;
                }

                .custom-checkbox {
                  position: absolute;
                  z-index: -1;
                  opacity: 0;
                }

                .custom-checkbox + label {
                  display: inline-flex;
                  align-items: center;
                  user-select: none;
                }

                .custom-checkbox + label::before {
                  content: "";
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  flex-shrink: 0;
                  flex-grow: 0;
                  border: 1px solid $blue;
                  margin-right: 20px;
                  background-repeat: no-repeat;
                  background-position: center center;
                }

                .custom-checkbox:checked + label::before {
                  border-color: #0b76ef;
                  background-color: #fff;
                  background-image: url("../images/icons/checkbox.svg");
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: 16px 16px;
                }

                label {
                  display: inline-flex;
                  align-items: center;
                  cursor: pointer;

                  img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: block;
                    margin-right: 24px;
                  }
                  span {
                    max-width: 140px;
                    font-size: 14px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }

    .add-mentor-form__save-btn {
      height: 50px;
      color: #fff;
      background-color: $blue;
      border-radius: 3px;
      width: 100%;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.1em;
      margin-top: 39px;
      cursor: pointer;
      &:hover {
        background-color: rgba($color: $blue, $alpha: 0.8);
      }
    }
  }
}
