@import "reset";
@import "vars";
@import "global";
@import "blocks/adaptation-header";
@import "blocks/adaptation-sidebar";
@import "blocks/adaptation-footer";

.adaptation__instruction-content {
  .instruction-content__title {
    font-size: 36px;
    font-weight: 700;
  }

  .instruction-content__instruction {
    margin-top: 40px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 1021px;
    padding-top: 29px;
    padding-left: 40px;

    height: 85%;

    .instruction__block {
      max-width: 735px;
      margin-bottom: 40px;
      &:nth-child(3) {
        margin-bottom: 26px;
      }

      .instruction__block-title {
        font-weight: 700;
        font-size: 24px;
      }

      .instruction__block-text {
        font-weight: 500;
        font-size: 14px;
        color: $dark;
        margin-top: 15px;
        line-height: 180%;
      }
    }

    .instruction__block-wish {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 50px;
    }

    .instruction__block-btn {
      display: inline-block;
      padding: 16px 28px;
      color: $lightblue;
      background-color: $blue;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 100px;
      transition: background-color 0.3s;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      &:hover {
        background-color: rgba($color: $blue, $alpha: 0.8);
      }
    }
  }
}
