@media (max-width: 1024px) {
@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.eot");
  src: local("☺"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.eot");
  src: local("☺"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.eot");
  src: local("☺"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.eot");
  src: local("☺"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

.adaptation__container {
  max-width: none;
  margin: 0 auto;
  padding: 0 2.22222vw;
}

.adaptation__wrapper {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
}

.adaptation__footer-container {
  max-width: none;
  padding: 0 2.22222vw;
  margin: 0 auto;
}

.adaptation__main {
  flex: 1 1 auto;
  background-color: #f4f5f8;
}

.adaptation__main-section-content {
  padding-top: 4.44444vw;
  padding-left: 0;
  color: #1f3553;
  width: 100%;
}

.adaptation__header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13.33333vw;
  color: #1f3553;
}
.adaptation__header-content .header-content__logo {
  z-index: 10;
  min-width: 27.77778vw;
  height: 8.33333vw;
}
.adaptation__header-content .header-content__logo::after {
  content: "";
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 73.61111vw;
  width: 1px;
  background-color: #e6e1ea;
}
.adaptation__header-content .header-content__logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.adaptation__header-content .header-content__menu {
  box-shadow: 0 0 0 2777.77778vw #fff;
  display: block;
  position: absolute;
  right: 0;
  z-index: -1;
  left: -277.77778vw;
  top: -416.66667vw;
  padding-bottom: 10vw;
}
.adaptation__header-content .header-content__menu .menu__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  position: relative;
  padding-bottom: 13.33333vw;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list {
  display: flex;
  margin-right: 36.38889vw;
  margin-left: auto;
  font-family: "Arial", sans-serif;
  font-size: 4.44444vw;
  font-weight: 700;
  font-size: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 0;
  border-top: 1px solid #e5e8fb;
  border-bottom: 1px solid #e5e8fb;
  padding-top: 6.66667vw;
  margin-bottom: 6.66667vw;
  width: 100%;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li {
  margin-bottom: 4.44444vw;
  width: 100%;
  padding-left: 2.22222vw;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li a {
  font-size: 4.44444vw;
  transition: color 0.3s;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li a:hover {
  color: #2f87ff;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization {
  display: flex;
  align-items: center;
  font-size: 5vw;
  font-weight: 600;
  width: 100%;
  margin-right: 0;
  border-top: 1px solid #e5e8fb;
  border-bottom: 1px solid #e5e8fb;
  justify-content: center;
  padding-top: 6.66667vw;
  padding-bottom: 6.66667vw;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization img {
  width: 4.44444vw;
  height: 4.44444vw;
  margin-right: 2.22222vw;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization a {
  transition: color 0.3s;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization a:hover {
  color: #2f87ff;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__mail {
  display: block;
  min-width: 8.05556vw;
  height: 5.55556vw;
  margin-right: 33.33333vw;
  margin-top: 5.27778vw;
  margin-bottom: 5.27778vw;
  position: relative;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__mail::after {
  content: "Сообщения";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1f3553;
  font-weight: 500;
  position: absolute;
  left: 11.11111vw;
  top: 0;
  display: inline-block;
  font-size: 3.88889vw;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__mail img {
  display: block;
  width: 100%;
  height: 100%;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__logout-btn {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50;
  margin-top: 2.77778vw;
  padding: 2.22222vw 0 2.22222vw;
  text-align: center;
  border-radius: 1.11111vw;
  font-size: 4.44444vw;
  font-weight: 500;
  width: 31.66667vw;
  height: 9.72222vw;
  background-color: #edf5ff;
  color: #2f87ff;
  transition: background-color 0.3s;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__logout-btn:hover {
  background-color: rgba(237, 245, 255, 0.8);
}
.adaptation__header-content .header-content__user {
  position: absolute;
  z-index: 10;
  right: 28.88889vw;
}
.adaptation__header-content .header-content__user a {
  display: flex;
  align-items: center;
}
.adaptation__header-content .header-content__user a .user__avatar {
  width: 7.22222vw;
  height: 7.22222vw;
  position: relative;
}
.adaptation__header-content .header-content__user a .user__avatar img {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.adaptation__header-content .header-content__user a .user__avatar::after {
  content: "";
  display: block;
  width: 5vw;
  height: 100%;
  background-image: url("/images/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4.16667vw 1.94444vw;
  top: 0;
  left: 100%;
  position: absolute;
  padding-left: 1.66667vw;
}

#menu-toggler {
  display: none;
}

#menu-toggler:checked + .hamburger span {
  transition: all 0.3s;
  transform: rotate(45deg);
  top: 2.22222vw;
}

#menu-toggler:checked + .hamburger span::after {
  transition: all 0.3s;
  transform: rotate(-90deg);
  top: 0;
}

#menu-toggler:checked + .hamburger span::before {
  opacity: 0;
}

.hamburger {
  display: block;
  right: 0;
  width: 6.66667vw;
  height: 4.44444vw;
  position: absolute;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 22;
  display: block;
  background-color: #1f3553;
  width: 6.66667vw;
  height: 1px;
  border-radius: 2.77778vw;
}

.hamburger span::before {
  position: absolute;
  content: "";
  width: 6.66667vw;
  height: 1px;
  top: 2.22222vw;
  background-color: #1f3553;
  border-radius: 2.77778vw;
}

.hamburger span::after {
  position: absolute;
  content: "";
  width: 6.66667vw;
  height: 1px;
  top: 4.44444vw;
  background-color: #1f3553;
  border-radius: 2.77778vw;
}

#menu-toggler:checked ~ .header-content__menu {
  top: 13.33333vw;
  left: 0;
  z-index: 1;
  background-color: #fff;
  transition: left 0.3s, background-color 0.3s;
}
#menu-toggler:checked ~ .header-content__menu .menu__navigation .navigation__logout-btn {
  display: block;
}

.adaptation__sidebar {
  display: none;
}

.adaptation__sidebar-header {
  border-top: 1px solid #e5e8fb;
  width: 100%;
  display: block;
  height: 100%;
  background-color: #fff;
  padding-top: 6.66667vw;
  padding-bottom: 6.66667vw;
  color: #1f3553;
  padding-left: 2.22222vw;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2.77778vw 0;
  font-weight: 500;
  font-size: 4.44444vw;
  border-radius: 1.11111vw 0px 0px 1.11111vw;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link .sidebar__link-img {
  width: 6.66667vw;
  height: 6.66667vw;
  margin-right: 4.72222vw;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link .sidebar__link-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link:hover {
  background-color: #edf5ff;
  padding-left: 3.05556vw;
  transition: padding 0.5s, background-color 0.5s, after 3s;
  font-weight: 700;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link:hover::after {
  content: "";
  display: block;
  width: 1.66667vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2f87ff;
  border-radius: 2.77778vw 0 0 1.66667vw;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link_active {
  background-color: #edf5ff;
  padding-left: 3.05556vw;
  font-weight: 700;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link_active::after {
  content: "";
  display: block;
  width: 1.66667vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2f87ff;
  border-radius: 2.77778vw 0 0 1.66667vw;
}
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu {
  margin: 5vw 0 6.94444vw 13.05556vw;
  color: #000;
  font-size: 4.44444vw;
}
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu li {
  margin-bottom: 2.22222vw;
}
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu li:last-child {
  margin-bottom: 0;
}
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu .link-submenu_acvive {
  color: #1f3553;
  font-weight: 700;
}
.adaptation__sidebar-header .sidebar__links span {
  font-weight: 700;
  color: #2f87ff;
  margin-left: 1.38889vw;
}

.adaptation__footer {
  background-color: #1f3553;
  color: #fff;
}
.adaptation__footer .footer__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 11.94444vw;
  padding-bottom: 8.33333vw;
}
.adaptation__footer .footer__columns .footer__info {
  font-size: 3.88889vw;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5.55556vw;
}
.adaptation__footer .footer__columns .footer__info .footer__links {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 25vw;
       column-gap: 25vw;
  -moz-column-width: 48.33333vw;
       column-width: 48.33333vw;
}
.adaptation__footer .footer__columns .footer__info .footer__links .footer__link {
  display: block;
  margin-bottom: 2.77778vw;
  max-width: 48.33333vw;
  text-align: left;
}
.adaptation__footer .footer__columns .footer__info .footer__cop {
  margin-top: 3.88889vw;
}
.adaptation__footer .footer__columns .footer__subs {
  max-width: 125.27778vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5.55556vw;
}
.adaptation__footer .footer__columns .footer__subs .subs__title {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 5.55556vw;
  font-size: 4.44444vw;
}
.adaptation__footer .footer__columns .footer__subs .subs__form {
  display: flex;
}
.adaptation__footer .footer__columns .footer__subs .subs__form input {
  width: 100%;
  height: 13.88889vw;
  padding-left: 6.66667vw;
  background-color: #f2f2f2;
  color: #828282;
  font-size: 3.88889vw;
  outline: none;
  border-radius: 0.83333vw 0px 0px 0.83333vw;
}
.adaptation__footer .footer__columns .footer__subs .subs__form button {
  width: 17.22222vw;
  height: 13.88889vw;
  cursor: pointer;
  background-color: #2f87ff;
  background-image: url("../images/icons/subscribe.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 0.83333vw 0.83333vw 0px;
}

.adaptation__main-content .adaptation__title {
  font-size: 5.55556vw;
  font-weight: 700;
}
.adaptation__main-content .adaptation__cards {
  display: block;
  width: 100%;
  margin-top: 5.55556vw;
}
.adaptation__main-content .adaptation__cards .adaptation__card {
  display: flex;
  flex-direction: column;
  padding: 4.44444vw;
  border-radius: 2.77778vw;
  margin-bottom: 4.44444vw;
  margin-right: 0;
  max-width: 100%;
  max-height: 160.55556vw;
}
.adaptation__main-content .adaptation__cards .adaptation__card .card__title {
  font-weight: 700;
  font-size: 4.44444vw;
}
.adaptation__main-content .adaptation__cards .adaptation__card .card__img {
  padding-left: 19.72222vw;
  padding-right: 19.72222vw;
  max-width: 100%;
  max-height: 100%;
  margin-top: 5vw;
  margin-bottom: 5.55556vw;
}
.adaptation__main-content .adaptation__cards .adaptation__card .card__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.adaptation__main-content .adaptation__cards .adaptation__card .card__btn {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.88889vw;
  font-weight: 600;
  padding: 4.44444vw;
  border-radius: 1.11111vw;
  background-color: #ffe6dc;
  color: #ff5b15;
  cursor: pointer;
  margin: auto 0 0;
  letter-spacing: 0.1em;
  transition: background-color 0.3s;
}
.adaptation__main-content .adaptation__cards .adaptation__card .card__btn:hover {
  background-color: rgba(255, 230, 220, 0.8);
}

}