@media (max-width: 1024px) {
@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.eot");
  src: local("☺"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.eot");
  src: local("☺"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.eot");
  src: local("☺"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.eot");
  src: local("☺"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

.adaptation__container {
  max-width: none;
  margin: 0 auto;
  padding: 0 2.22222vw;
}

.adaptation__wrapper {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
}

.adaptation__footer-container {
  max-width: none;
  padding: 0 2.22222vw;
  margin: 0 auto;
}

.adaptation__main {
  flex: 1 1 auto;
  background-color: #f4f5f8;
}

.adaptation__main-section-content {
  padding-top: 4.44444vw;
  padding-left: 0;
  color: #1f3553;
  width: 100%;
}

.adaptation__header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13.33333vw;
  color: #1f3553;
}
.adaptation__header-content .header-content__logo {
  z-index: 10;
  min-width: 27.77778vw;
  height: 8.33333vw;
}
.adaptation__header-content .header-content__logo::after {
  content: "";
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 73.61111vw;
  width: 1px;
  background-color: #e6e1ea;
}
.adaptation__header-content .header-content__logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.adaptation__header-content .header-content__menu {
  box-shadow: 0 0 0 2777.77778vw #fff;
  display: block;
  position: absolute;
  right: 0;
  z-index: -1;
  left: -277.77778vw;
  top: -416.66667vw;
  padding-bottom: 10vw;
}
.adaptation__header-content .header-content__menu .menu__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  position: relative;
  padding-bottom: 13.33333vw;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list {
  display: flex;
  margin-right: 36.38889vw;
  margin-left: auto;
  font-family: "Arial", sans-serif;
  font-size: 4.44444vw;
  font-weight: 700;
  font-size: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 0;
  border-top: 1px solid #e5e8fb;
  border-bottom: 1px solid #e5e8fb;
  padding-top: 6.66667vw;
  margin-bottom: 6.66667vw;
  width: 100%;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li {
  margin-bottom: 4.44444vw;
  width: 100%;
  padding-left: 2.22222vw;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li a {
  font-size: 4.44444vw;
  transition: color 0.3s;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__list li a:hover {
  color: #2f87ff;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization {
  display: flex;
  align-items: center;
  font-size: 5vw;
  font-weight: 600;
  width: 100%;
  margin-right: 0;
  border-top: 1px solid #e5e8fb;
  border-bottom: 1px solid #e5e8fb;
  justify-content: center;
  padding-top: 6.66667vw;
  padding-bottom: 6.66667vw;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization img {
  width: 4.44444vw;
  height: 4.44444vw;
  margin-right: 2.22222vw;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization a {
  transition: color 0.3s;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__organization a:hover {
  color: #2f87ff;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__mail {
  display: block;
  min-width: 8.05556vw;
  height: 5.55556vw;
  margin-right: 33.33333vw;
  margin-top: 5.27778vw;
  margin-bottom: 5.27778vw;
  position: relative;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__mail::after {
  content: "Сообщения";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1f3553;
  font-weight: 500;
  position: absolute;
  left: 11.11111vw;
  top: 0;
  display: inline-block;
  font-size: 3.88889vw;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__org-mail-block .navigation__mail img {
  display: block;
  width: 100%;
  height: 100%;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__logout-btn {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50;
  margin-top: 2.77778vw;
  padding: 2.22222vw 0 2.22222vw;
  text-align: center;
  border-radius: 1.11111vw;
  font-size: 4.44444vw;
  font-weight: 500;
  width: 31.66667vw;
  height: 9.72222vw;
  background-color: #edf5ff;
  color: #2f87ff;
  transition: background-color 0.3s;
}
.adaptation__header-content .header-content__menu .menu__navigation .navigation__logout-btn:hover {
  background-color: rgba(237, 245, 255, 0.8);
}
.adaptation__header-content .header-content__user {
  position: absolute;
  z-index: 10;
  right: 28.88889vw;
}
.adaptation__header-content .header-content__user a {
  display: flex;
  align-items: center;
}
.adaptation__header-content .header-content__user a .user__avatar {
  width: 7.22222vw;
  height: 7.22222vw;
  position: relative;
}
.adaptation__header-content .header-content__user a .user__avatar img {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.adaptation__header-content .header-content__user a .user__avatar::after {
  content: "";
  display: block;
  width: 5vw;
  height: 100%;
  background-image: url("/images/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4.16667vw 1.94444vw;
  top: 0;
  left: 100%;
  position: absolute;
  padding-left: 1.66667vw;
}

#menu-toggler {
  display: none;
}

#menu-toggler:checked + .hamburger span {
  transition: all 0.3s;
  transform: rotate(45deg);
  top: 2.22222vw;
}

#menu-toggler:checked + .hamburger span::after {
  transition: all 0.3s;
  transform: rotate(-90deg);
  top: 0;
}

#menu-toggler:checked + .hamburger span::before {
  opacity: 0;
}

.hamburger {
  display: block;
  right: 0;
  width: 6.66667vw;
  height: 4.44444vw;
  position: absolute;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 22;
  display: block;
  background-color: #1f3553;
  width: 6.66667vw;
  height: 1px;
  border-radius: 2.77778vw;
}

.hamburger span::before {
  position: absolute;
  content: "";
  width: 6.66667vw;
  height: 1px;
  top: 2.22222vw;
  background-color: #1f3553;
  border-radius: 2.77778vw;
}

.hamburger span::after {
  position: absolute;
  content: "";
  width: 6.66667vw;
  height: 1px;
  top: 4.44444vw;
  background-color: #1f3553;
  border-radius: 2.77778vw;
}

#menu-toggler:checked ~ .header-content__menu {
  top: 13.33333vw;
  left: 0;
  z-index: 1;
  background-color: #fff;
  transition: left 0.3s, background-color 0.3s;
}
#menu-toggler:checked ~ .header-content__menu .menu__navigation .navigation__logout-btn {
  display: block;
}

.adaptation__sidebar {
  display: none;
}

.adaptation__sidebar-header {
  border-top: 1px solid #e5e8fb;
  width: 100%;
  display: block;
  height: 100%;
  background-color: #fff;
  padding-top: 6.66667vw;
  padding-bottom: 6.66667vw;
  color: #1f3553;
  padding-left: 2.22222vw;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2.77778vw 0;
  font-weight: 500;
  font-size: 4.44444vw;
  border-radius: 1.11111vw 0px 0px 1.11111vw;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link .sidebar__link-img {
  width: 6.66667vw;
  height: 6.66667vw;
  margin-right: 4.72222vw;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link .sidebar__link-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link:hover {
  background-color: #edf5ff;
  padding-left: 3.05556vw;
  transition: padding 0.5s, background-color 0.5s, after 3s;
  font-weight: 700;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link:hover::after {
  content: "";
  display: block;
  width: 1.66667vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2f87ff;
  border-radius: 2.77778vw 0 0 1.66667vw;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link_active {
  background-color: #edf5ff;
  padding-left: 3.05556vw;
  font-weight: 700;
}
.adaptation__sidebar-header .sidebar__links .sidebar__link_active::after {
  content: "";
  display: block;
  width: 1.66667vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2f87ff;
  border-radius: 2.77778vw 0 0 1.66667vw;
}
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu {
  margin: 5vw 0 6.94444vw 13.05556vw;
  color: #000;
  font-size: 4.44444vw;
}
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu li {
  margin-bottom: 2.22222vw;
}
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu li:last-child {
  margin-bottom: 0;
}
.adaptation__sidebar-header .sidebar__links li .sidebar__link-submenu .link-submenu_acvive {
  color: #1f3553;
  font-weight: 700;
}
.adaptation__sidebar-header .sidebar__links span {
  font-weight: 700;
  color: #2f87ff;
  margin-left: 1.38889vw;
}

.adaptation__footer {
  background-color: #1f3553;
  color: #fff;
}
.adaptation__footer .footer__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 11.94444vw;
  padding-bottom: 8.33333vw;
}
.adaptation__footer .footer__columns .footer__info {
  font-size: 3.88889vw;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5.55556vw;
}
.adaptation__footer .footer__columns .footer__info .footer__links {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 25vw;
       column-gap: 25vw;
  -moz-column-width: 48.33333vw;
       column-width: 48.33333vw;
}
.adaptation__footer .footer__columns .footer__info .footer__links .footer__link {
  display: block;
  margin-bottom: 2.77778vw;
  max-width: 48.33333vw;
  text-align: left;
}
.adaptation__footer .footer__columns .footer__info .footer__cop {
  margin-top: 3.88889vw;
}
.adaptation__footer .footer__columns .footer__subs {
  max-width: 125.27778vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5.55556vw;
}
.adaptation__footer .footer__columns .footer__subs .subs__title {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 5.55556vw;
  font-size: 4.44444vw;
}
.adaptation__footer .footer__columns .footer__subs .subs__form {
  display: flex;
}
.adaptation__footer .footer__columns .footer__subs .subs__form input {
  width: 100%;
  height: 13.88889vw;
  padding-left: 6.66667vw;
  background-color: #f2f2f2;
  color: #828282;
  font-size: 3.88889vw;
  outline: none;
  border-radius: 0.83333vw 0px 0px 0.83333vw;
}
.adaptation__footer .footer__columns .footer__subs .subs__form button {
  width: 17.22222vw;
  height: 13.88889vw;
  cursor: pointer;
  background-color: #2f87ff;
  background-image: url("../images/icons/subscribe.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 0.83333vw 0.83333vw 0px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 53, 83, 0.5);
  top: 0;
  left: 0;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup .popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.77778vw;
}

.adaptation__mentor {
  overflow: hidden;
}
.adaptation__mentor .mentor__title {
  font-size: 5.55556vw;
  font-weight: 700;
  margin-bottom: 4.44444vw;
}
.adaptation__mentor .mentor__subtitle {
  font-size: 3.88889vw;
  font-weight: 500;
  max-width: none;
}
.adaptation__mentor .mentor__mentor-block {
  margin-top: 8.88889vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile {
  background-color: #fff;
  border-radius: 2.77778vw;
  max-width: none;
  padding: 8.88889vw 4.44444vw;
  margin-bottom: 4.44444vw;
  height: 100%;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__photo {
  max-width: 47.22222vw;
  max-height: 47.22222vw;
  margin: 0 auto 8.33333vw;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__photo img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__fio {
  font-size: 4.44444vw;
  max-width: 34.72222vw;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 4.72222vw;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__jobtitle {
  font-size: 3.88889vw;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  color: #333;
  margin-bottom: 4.44444vw;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__birthday {
  font-weight: 500;
  font-size: 3.88889vw;
  text-align: center;
  color: #333;
  line-height: 180%;
  margin-bottom: 2px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__email {
  font-size: 3.88889vw;
  font-weight: 500;
  color: #2f87ff;
  display: block;
  text-align: center;
  line-height: 180%;
  margin-bottom: 3.05556vw;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 8.88889vw;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__social-links .mentor-profile__social-link {
  margin-right: 4.44444vw;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__social-links .mentor-profile__social-link:last-child {
  margin-right: 0;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__social-links .mentor-profile__social-link img {
  display: block;
  width: 9.16667vw;
  height: 9.16667vw;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__inputs .mentor-profile__delete-from-team-btn {
  display: inline-block;
  text-align: center;
  font-size: 3.88889vw;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #2f87ff;
  text-transform: uppercase;
  border: 1px solid #2f87ff;
  border-radius: 1.11111vw;
  background-color: #fff;
  width: 100%;
  padding: 4.44444vw 0;
  margin-bottom: 4.44444vw;
  transition: background-color 0.3s;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__inputs .mentor-profile__delete-from-team-btn:hover {
  background-color: #edf5ff;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__inputs .mentor-profile__add-student-btn {
  display: inline-block;
  text-align: center;
  font-size: 3.88889vw;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  background-color: #2f87ff;
  width: 100%;
  padding: 4.72222vw 0;
  border-radius: 0.83333vw;
  transition: background-color 0.3s;
}
.adaptation__mentor .mentor__mentor-block .mentor-block__mentor-profile .mentor-profile__inputs .mentor-profile__add-student-btn:hover {
  background-color: rgba(47, 135, 255, 0.8);
}
.adaptation__mentor .mentor-block__mentor-info {
  width: 100%;
  overflow: hidden;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__education {
  padding: 4.44444vw;
  background-color: #fff;
  border-radius: 2.77778vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__education .education__title {
  font-weight: 700;
  font-size: 4.44444vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__education .education__content {
  margin-top: 4.44444vw;
  max-width: none;
  padding: 5.55556vw 4.44444vw 6.66667vw;
  background: #f1f7ff;
  border: 1px solid #c1cfeb;
  border-radius: 2.77778vw;
  flex-direction: column;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__education .education__content .content__progress {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 0;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__education .education__content .content__progress .progress__container {
  display: flex;
  flex-direction: column;
  margin-right: 15.27778vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__education .education__content .content__progress .progress__container .procent {
  font-size: 5.55556vw;
  font-weight: 700;
  color: #2f87ff;
  text-align: center;
  margin-bottom: 1.94444vw;
  font-feature-settings: "pnum" on, "lnum" on;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__education .education__content .content__progress .progress__container .status {
  font-size: 3.88889vw;
  font-weight: 500;
  white-space: nowrap;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__education .education__content .content__progress .progress__status {
  font-weight: 600;
  font-size: 5.55556vw;
  display: flex;
  align-items: center;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__education .education__content .content__data {
  margin-top: 6.94444vw;
  display: block;
  text-align: left;
  width: 100%;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__education .education__content .content__data .data__img {
  display: none;
  padding: 3.33333vw;
  background-color: #fff;
  border-radius: 2.77778vw;
  margin-right: 4.72222vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__education .education__content .content__data .data__img img {
  display: block;
  width: 6.94444vw;
  height: 6.94444vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__education .education__content .content__data span {
  font-weight: 700;
  font-size: 4.44444vw;
  font-feature-settings: "pnum" on, "lnum" on;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses {
  margin-top: 6.66667vw;
  overflow-x: hidden;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__title {
  margin-bottom: 4.44444vw;
  font-size: 4.44444vw;
  font-weight: 700;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table {
  overflow-x: auto;
  max-width: 285vw;
  margin-right: 0;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table {
  border-spacing: 0 2.77778vw;
  table-layout: fixed;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .thead {
  background-color: #fff;
  height: 16.66667vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .thead .thead-tr-th {
  font-size: 3.88889vw;
  font-weight: 700;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .thead .thead-tr-th:nth-child(1) {
  border-radius: 2.77778vw 0 0 2.77778vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .thead .thead-tr-th:nth-child(1) .thead-tr-th-div {
  min-width: 78.33333vw;
  max-width: 78.33333vw;
  padding-left: 4.44444vw;
  padding-right: 5.55556vw;
  text-align: left;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .thead .thead-tr-th:nth-child(2) {
  text-align: left;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .thead .thead-tr-th:nth-child(2) .thead-tr-th-div {
  min-width: 37.5vw;
  max-width: 37.5vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .thead .thead-tr-th:nth-child(3) {
  min-width: 37.5vw;
  width: 100%;
  text-align: left;
  padding-left: 8.33333vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .thead .thead-tr-th:nth-child(4) {
  border-radius: 0 2.77778vw 2.77778vw 0;
  text-align: left;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .thead .thead-tr-th:nth-child(4) .thead-tr-th-div {
  padding-left: 8.33333vw;
  min-width: 44.44444vw;
  max-width: 44.44444vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .tbody .tbody-tr {
  background-color: #fff;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .tbody .tbody-tr .tbody-tr-td {
  font-size: 3.88889vw;
  font-weight: 500;
  padding-left: 2.77778vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .tbody .tbody-tr .tbody-tr-td:nth-child(1) {
  color: #2f87ff;
  padding: 6.11111vw 4.44444vw;
  border-radius: 2.77778vw 0 0 2.77778vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .tbody .tbody-tr .tbody-tr-td:nth-child(2) {
  text-align: left;
  font-feature-settings: "pnum" on, "lnum" on;
  padding-left: 0;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .tbody .tbody-tr .tbody-tr-td:nth-child(3) {
  padding-left: 8.33333vw;
  font-feature-settings: "pnum" on, "lnum" on;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .tbody .tbody-tr .tbody-tr-td:nth-child(4) {
  border-radius: 0 2.77778vw 2.77778vw 0;
  font-feature-settings: "pnum" on, "lnum" on;
  padding-left: 8.33333vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .tbody .tbody-tr .tbody-tr-td:nth-child(4) .tbody-tr-td-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .tbody .tbody-tr .tbody-tr-td:nth-child(4) .tbody-tr-td-div .procent {
  font-weight: 700;
  font-size: 5.55556vw;
  margin-bottom: 2.5vw;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .tbody .tbody-tr .tbody-tr-td:nth-child(4) .tbody-tr-td-div .procent-green {
  color: #27ae60;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .tbody .tbody-tr .tbody-tr-td:nth-child(4) .tbody-tr-td-div .procent-blue {
  color: #2f87ff;
}
.adaptation__mentor .mentor-block__mentor-info .mentor-info__courses .courses__table table .tbody .tbody-tr .tbody-tr-td:nth-child(4) .tbody-tr-td-div .procent-red {
  color: #ff5b15;
}
.adaptation__mentor .mentor__students {
  margin-top: 6.66667vw;
}
.adaptation__mentor .mentor__students .students__title {
  font-size: 4.44444vw;
  font-weight: 700;
  margin-bottom: 4.44444vw;
}
.adaptation__mentor .mentor__students .student__table {
  overflow-x: auto;
  margin-bottom: 13.88889vw;
}
.adaptation__mentor .mentor__students .student__table .table {
  border-spacing: 0 2.77778vw;
  table-layout: fixed;
  min-width: 100%;
}
.adaptation__mentor .mentor__students .student__table .table .thead {
  background-color: #fff;
  height: 16.66667vw;
}
.adaptation__mentor .mentor__students .student__table .table .thead .thead-tr-th {
  font-size: 3.88889vw;
  font-weight: 700;
  text-align: left;
  padding-left: 4.44444vw;
}
.adaptation__mentor .mentor__students .student__table .table .thead .thead-tr-th:nth-child(1) {
  border-radius: 2.77778vw 0 0 2.77778vw;
  min-width: 38.88889vw;
  max-width: 100%;
  padding-left: 4.44444vw;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: #fff;
}
.adaptation__mentor .mentor__students .student__table .table .thead .thead-tr-th:nth-child(2) {
  min-width: 38.05556vw;
  max-width: 100%;
}
.adaptation__mentor .mentor__students .student__table .table .thead .thead-tr-th:nth-child(3) {
  min-width: 43.61111vw;
  max-width: 100%;
}
.adaptation__mentor .mentor__students .student__table .table .thead .thead-tr-th:nth-child(4) {
  min-width: 28.61111vw;
  max-width: 100%;
}
.adaptation__mentor .mentor__students .student__table .table .thead .thead-tr-th:nth-child(5) {
  min-width: 36.11111vw;
  max-width: 100%;
}
.adaptation__mentor .mentor__students .student__table .table .thead .thead-tr-th:nth-child(6) {
  min-width: 29.44444vw;
  max-width: 100%;
}
.adaptation__mentor .mentor__students .student__table .table .thead .thead-tr-th:nth-child(7) {
  min-width: 38.61111vw;
  max-width: 100%;
}
.adaptation__mentor .mentor__students .student__table .table .thead .thead-tr-th:nth-child(8) {
  min-width: 43.88889vw;
  max-width: 100%;
  border-radius: 0 2.77778vw 2.77778vw 0;
}
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr {
  background-color: #fff;
}
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td {
  font-size: 3.88889vw;
  font-weight: 500;
  height: 25vw;
  padding-left: 4.16667vw;
}
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td:nth-child(1) {
  padding-left: 4.44444vw;
  border-radius: 2.77778vw 0 0 2.77778vw;
  color: #2f87ff;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: #fff;
}
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td:nth-child(5) {
  font-feature-settings: "pnum" on, "lnum" on;
}
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td:nth-child(7) {
  font-feature-settings: "pnum" on, "lnum" on;
}
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td:nth-child(8) {
  color: #2f87ff;
  text-decoration: underline;
  border-radius: 0 2.77778vw 2.77778vw 0;
}
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td .steps,
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td .educ {
  display: flex;
  flex-direction: column;
}
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td .steps .steps__procent,
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td .steps .educ__procent,
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td .educ .steps__procent,
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td .educ .educ__procent {
  margin-bottom: 2.5vw;
  font-size: 5.55556vw;
  font-weight: 700;
  font-feature-settings: "pnum" on, "lnum" on;
}
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td .steps .procent-green,
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td .educ .procent-green {
  color: #27ae60;
}
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td .steps .procent-blue,
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td .educ .procent-blue {
  color: #2f87ff;
}
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td .steps .procent-red,
.adaptation__mentor .mentor__students .student__table .table .tbody .tbody-tr .tbody-tr-td .educ .procent-red {
  color: #ff5b15;
}
.adaptation__mentor .mentors__delete-mentor-form {
  background-color: #fff;
  max-width: 165vw;
  padding: 4.16667vw 6.38889vw 8.88889vw;
  border-radius: 2.77778vw;
  box-shadow: 0px 13.88889vw 13.88889vw -11.11111vw rgba(31, 53, 83, 0.5);
}
.adaptation__mentor .mentors__delete-mentor-form .delete-mentor-form__close-form-btn {
  background-image: url("../images/icons/closeform.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3.33333vw 3.33333vw;
  width: 3.33333vw;
  height: 3.33333vw;
  background-color: #fff;
  display: block;
  margin-left: auto;
  cursor: pointer;
  margin-right: -1.38889vw;
}
.adaptation__mentor .mentors__delete-mentor-form .delete-mentor-form__title {
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 6.38889vw;
}
.adaptation__mentor .mentors__delete-mentor-form .delete-mentor-form__subtitle {
  font-size: 4.44444vw;
  font-weight: 500;
  margin-bottom: 4.44444vw;
}
.adaptation__mentor .mentors__delete-mentor-form .delete-mentor-form__comment {
  width: 100%;
  resize: none;
  height: 27.77778vw;
  background: #f8f8f8;
  border-radius: 0.83333vw;
  color: #333;
  padding: 4.44444vw 4.44444vw 4.44444vw 5.55556vw;
  margin-bottom: 6.66667vw;
  font-size: 3.88889vw;
}
.adaptation__mentor .mentors__delete-mentor-form .delete-mentor-form__inputs {
  display: flex;
}
.adaptation__mentor .mentors__delete-mentor-form .delete-mentor-form__inputs .inputs__cancel-btn {
  width: 100%;
  font-size: 3.88889vw;
  background: #f4f5f8;
  border-radius: 0.83333vw;
  color: #2f87ff;
  text-transform: uppercase;
  padding: 4.72222vw;
  cursor: pointer;
  margin-right: 4.44444vw;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
}
.adaptation__mentor .mentors__delete-mentor-form .delete-mentor-form__inputs .inputs__cancel-btn:hover {
  background-color: rgba(244, 245, 248, 0.8);
}
.adaptation__mentor .mentors__delete-mentor-form .delete-mentor-form__inputs .inputs__delete-btn {
  width: 100%;
  font-size: 3.88889vw;
  background: #eb5757;
  border-radius: 0.83333vw;
  color: #fff;
  text-transform: uppercase;
  padding: 4.72222vw;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.adaptation__mentor .mentors__delete-mentor-form .delete-mentor-form__inputs .inputs__delete-btn:hover {
  background-color: rgba(235, 87, 87, 0.8);
}
.adaptation__mentor .mentors__add-students-form {
  padding: 4.44444vw;
  background: #fff;
  box-shadow: 0px 13.88889vw 13.88889vw -11.11111vw rgba(31, 53, 83, 0.5);
  border-radius: 2.77778vw;
  max-width: none;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__close-form-btn {
  background-image: url("../images/icons/closeform.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3.33333vw 3.33333vw;
  width: 3.33333vw;
  height: 3.33333vw;
  background-color: #fff;
  display: block;
  right: 0;
  margin-left: auto;
  cursor: pointer;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__title {
  font-size: 4.44444vw;
  font-weight: 700;
  margin-bottom: 5.83333vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__inputs {
  margin-bottom: 25vw;
  position: relative;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__inputs .inputs__elem {
  height: 13.88889vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__inputs .inputs__search-student-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.44444vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__inputs .inputs__search-student-input .search-field {
  letter-spacing: 0.1em;
  font-size: 3.88889vw;
  font-weight: 600;
  padding-left: 5vw;
  padding-right: 8.33333vw;
  color: #333;
  height: 100%;
  background-color: #f8f8f8;
  max-width: none;
  border-radius: 0.83333vw;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 4.44444vw);
  background-position-y: center;
  background-size: 5.55556vw 5.55556vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__inputs .inputs__search-student-input .search-field::-webkit-search-cancel-button {
  display: none;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__inputs .inputs__search-student-input .inputs__search-student-btn {
  width: 100%;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #2f87ff;
  border-radius: 0.83333vw;
  padding: 4.44444vw 0;
  font-size: 4.44444vw;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -12.77778vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__inputs .inputs__search-student-input .inputs__search-student-btn:hover {
  background-color: rgba(47, 135, 255, 0.8);
}
.adaptation__mentor .mentors__add-students-form .add-students-form__inputs .inputs__selects-row {
  display: flex;
  flex-direction: column;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__inputs .inputs__selects-row .inputs__select-subdivision {
  background: #f8f8f8;
  border-radius: 0.83333vw;
  outline: none;
  border: none;
  letter-spacing: 0.1em;
  padding-left: 5vw;
  padding-right: 5.83333vw;
  font-size: 3.88889vw;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4.44444vw;
  max-width: none;
  background-image: url("../images/icons/arrow-select.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 4.44444vw);
  background-position-y: center;
  background-size: 4.16667vw 1.94444vw;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__inputs .inputs__selects-row .inputs__select-jobtitle {
  background: #f8f8f8;
  border-radius: 0.83333vw;
  outline: none;
  border: none;
  letter-spacing: 0.1em;
  padding-left: 5vw;
  font-size: 3.88889vw;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4.44444vw;
  max-width: none;
  background-image: url("../images/icons/arrow-select.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 4.44444vw);
  background-position-y: center;
  background-size: 4.16667vw 1.94444vw;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__inputs .inputs__select-mentor {
  width: 100%;
  margin-bottom: 4.44444vw;
  max-width: none;
  background: #f8f8f8;
  border-radius: 0.83333vw;
  outline: none;
  border: none;
  letter-spacing: 0.1em;
  padding-left: 5vw;
  font-size: 3.88889vw;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  background-image: url("../images/icons/arrow-select.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 4.44444vw);
  background-position-y: center;
  background-size: 4.16667vw 1.94444vw;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__selected-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3.33333vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__selected-panel .selected-container__select-all-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 5.55556vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__selected-panel .selected-container__select-all-checkbox .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__selected-panel .selected-container__select-all-checkbox .custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__selected-panel .selected-container__select-all-checkbox .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 6.66667vw;
  height: 6.66667vw;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #2f87ff;
  margin-right: 4.44444vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__selected-panel .selected-container__select-all-checkbox .custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #fff;
  background-image: url("../images/icons/checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4.44444vw 4.44444vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__selected-panel .selected-container__select-all-checkbox .select-all {
  font-size: 3.88889vw;
  font-weight: 600;
  color: #2f87ff;
  cursor: pointer;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__selected-panel .selected-container__select-all-checkbox .clear-all {
  font-size: 3.88889vw;
  font-weight: 600;
  color: #86909e;
  margin-left: 9.16667vw;
  cursor: pointer;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__selected-panel .selected-panel__appoint-off-btn {
  background-color: #fff;
  cursor: pointer;
  font-size: 3.88889vw;
  color: #eb5757;
  font-weight: 600;
  margin-bottom: 5.55556vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .thead {
  display: none;
  margin-bottom: 11.11111vw;
  background-color: #f8f8f8;
  height: 13.88889vw;
  margin-bottom: 10.83333vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .thead .thead-tr-th {
  font-size: 3.88889vw;
  font-weight: 700;
  cursor: pointer;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .thead .thead-tr-th:nth-child(1) {
  width: 91.66667vw;
  border-radius: 2.77778vw 0 0 2.77778vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .thead .thead-tr-th:nth-child(2) {
  width: 70.83333vw;
  padding-left: 2.77778vw;
  text-align: left;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .thead .thead-tr-th:nth-child(3) {
  width: 54.16667vw;
  padding-left: 2.77778vw;
  text-align: left;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .thead .thead-tr-th:last-child {
  border-radius: 0 2.77778vw 2.77778vw 0;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .tbody .tbody-tr .tbody-tr-td {
  font-size: 3.88889vw;
  font-weight: 600;
  text-align: left;
  padding-bottom: 4.44444vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #86909e;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .tbody .tbody-tr .tbody-tr-td span {
  color: #1f3553;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .tbody .tbody-tr .tbody-tr-td .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .tbody .tbody-tr .tbody-tr-td .custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .tbody .tbody-tr .tbody-tr-td .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 6.66667vw;
  height: 6.66667vw;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #2f87ff;
  margin-right: 5.55556vw;
  background-repeat: no-repeat;
  background-position: center center;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .tbody .tbody-tr .tbody-tr-td .custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #fff;
  background-image: url("../images/icons/checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4.44444vw 4.44444vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .tbody .tbody-tr .tbody-tr-td label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .tbody .tbody-tr .tbody-tr-td label img {
  width: 13.88889vw;
  height: 13.88889vw;
  border-radius: 50%;
  display: block;
  margin-right: 6.66667vw;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__students-container .students-container__students-table table .tbody .tbody-tr .tbody-tr-td label span {
  max-width: 38.88889vw;
  font-size: 3.88889vw;
  font-weight: 600;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__save-btn {
  height: 13.88889vw;
  color: #fff;
  background-color: #2f87ff;
  border-radius: 0.83333vw;
  width: 100%;
  text-transform: uppercase;
  font-size: 3.88889vw;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 10.83333vw;
  cursor: pointer;
}
.adaptation__mentor .mentors__add-students-form .add-students-form__save-btn:hover {
  background-color: rgba(47, 135, 255, 0.8);
}

}